<h1>Editing account</h1>

<%= form_for :account, url: account_path(@account), method: :patch do |f| %>
  <% if @account.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@account.errors.count, "error") %> prohibited
        this account from being saved:
      </h2>
      <ul>
        <% @account.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </p>

  <p>
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </p>

  <p>
    <%= f.label :balance %> (EUR)<br>
    <%= f.text_field :balance %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'All accounts', accounts_path %>
