<p>
  <strong>First name:</strong>
  <%= @account.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @account.last_name %>
<p>

<p>
  <strong>Balance (EUR):</strong>
  <%= @account.balance %>
</p>

<p>
  <strong>Transactions:</strong>
</p>

<p>
  <strong>Sent:</strong>
  <%= link_to @account.sent.size, transactions_sent_by_path(@account) %>
</p>

<p>
  <strong>Received:</strong>
  <%= link_to @account.received.size, transactions_received_by_path(@account) %>
</p>

<p>
  <strong>Total:</strong>
  <%= link_to @account.unique_transactions.size, account_transactions_path(@account) %>
</p>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'All accounts', accounts_path %>
