<%= form_for :payment, url: payments_path do |f| %>
  <% if @payment.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@payment.errors.count, "error") %> prohibited
        this account from being created:
      </h2>
      <ul>
        <% @payment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :From %><br>
    <%= f.text_field :from %>
  </p>

  <p>
    <%= f.label :To %><br>
    <%= f.text_field :to %>
  </p>

  <p>
    <%= f.label :Amount %><br>
    <%= f.text_field :amount %>
  </p>

  <p>
    <%= f.label :Currency %><br>
    <%= f.select :currency, options_for_select(['USD', 'EUR']) %><br>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
<%= link_to "Go back", { action: "index" } %>
