<%= form_for :account, url: accounts_path do |f| %>
  <% if @account.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@account.errors.count, "error") %> prohibited
        this account from being created:
      </h2>
      <ul>
        <% @account.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :Name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :Surname %><br>
    <%= f.text_field :surname %>
  </p>

  <p>
    <%= f.label :Amount %><br>
    <%= f.text_field :amount %>
  </p>

  <p>
    <%= f.label :Currency %><br>
    <%= f.select :currency, options_for_select(['USD', 'EUR']) %><br>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
<%= link_to "Go back", { action: "index" } %>
