<p>Name: <%= @account.name %></p>
<p>Surname: <%= @account.surname %></p>
<p>Amount: <%= @account.amount %></p>
<p>Currency: <%= @account.currency %></p>

<%= link_to "Go back", { action: "index" } %>
