<h1>Editing account</h1>

<%= form_for :account, url: account_path(@account), method: :patch do |f| %>
  <% if @account.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@account.errors.count, "error") %> prohibited
        this account from being saved:
      </h2>
      <ul>
        <% @account.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :Name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :Surname %><br>
    <%= f.text_field :surname %>
  </p>

  <p>
    <%= f.label :Amount %> <br>
    <%= f.text_field :amount %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
<%= link_to "Go back", { action: "index" } %>
